<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css"> -->

    <%- include('./includes/head.ejs')%>
</head>

<body>

    <!-- <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/" class="active">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header> -->

    <%- include('./includes/navigation.ejs')%>

    <main>
        <% if(prods.length > 0 ) {%>
        <div class="grid">
            <% for (let product of prods ) { %>
            <article class=" card product-item">
                <header class="card-header">
                    <h1 class="product-title "> <%= product.title%> </h1>
                </header>
                <div class="card-image">
                <img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg"
                    alt="book image">
                </div>
                <div class="card-content">
                    <h2 class="product-price">$19.1</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
                        adipisci itaque quisquam a nihil magnam. Iste delectus, esse iusto rem sit possimus at.
                    </p>
                </div>
                <div class="card-actions">
                    <button class="btn">Add To Cart</button>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        
            <h1>No Product</h1>
        <% } %>
    </main>
<!-- </body>
</html> -->

<%- include('./includes/end.ejs')%>